
.score-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.progress-ring {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-ring-circle {
  stroke-dasharray: 283;
  transition: stroke-dashoffset 0.5s ease;
}
